<%- include('partials/_header') -%>
    
<div class="login col-lg-4 offset-lg-4 col-md-10 offset-md-1">
    <img src="favicon.png" alt="panteon logo" height="150px" width="150px">
    <div class="mb-3 row">
        <form action="/admin/login" method="post">
            <label class="col-form-label login-label">Username</label>
            <input type="text" class="form-control login-input" name="username">

            <label class="col-form-label login-label">Password</label>
            <input type="password" class="form-control login-input" name="password">

            <button type="submit" class="btn btn-primary login-button">Login</button>
        </form>
    </div>
</div>

<%- include('partials/_footer') -%>